.app {
  width: 100%;
  min-height: 100vh;
  background-color: #232122;
  color: white;
  font-family: Arial, sans-serif;
}

/* This ensures that the app takes up at least the full viewport height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make sure the app container takes up full width and height */
#root {
  display: flex;
  flex-direction: column;
}
